body {
    background-color: white;
    font-family:  'Helvetica Neue';
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    line-height: 1.3em;
}

#wrapper {

    width: 100%;
    min-width: 100px;
    max-width: 853px;
    margin: 0px auto;
    padding: 1 1 1 1;
    opacity: 0.9;
}

a {

    text-decoration: none;
    color: black;
}

ol li {
    line-height: 1.3em
    margin: 2px 2px 2px
    padding: 9px 9px 10px 10px;
    cursor: pointer;
    list-style-type: none;

}

ol li a {
    display: block;
    padding: 5px 5px 5px 5px;
    list-style-type: none;
    line-height: 1.6em

}

li.playing {
    color: grey;
    list-style-type: none;
    text-decoration: underline;
    line-height: 1.6em
        font-weight: 900;

}

li.playing a {
    color: grey;
    list-style-type: none;
    text-decoration: underline;
    line-height: 1.6em
        font-weight: 900;
}
