body {
    background-color: white;
    font-family: 'Press Start 2P', cursive;
    font-weight: 900;
    font-size: 30px;
    color: black;
}

#wrapper {
    width: 100%;
    min-width: auto;
    max-width: 853px;
    margin: 10px auto;
    padding: 5 5 5 5;
    opacity: 1;
}

#hr,
hr {
    border: none;
    background-color: black;
    color: violet;
    height: 1px;
   }


h1 {
  font-family: 'Press Start 2P', cursive;
    font-weight: 900;
    font-size: 60px;
    color: black;
}

p {
  font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: black;
}

a {

    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 30px;
    color: black;
}

ol li {
    position: relative;
    margin: 1px;
    padding: 9px 2px 10px;
    cursor: pointer;
}

ol li a {
    display: block;
    padding: 20px 20px 20px 20px;
}

li.playing {

    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: black;
}

li.playing a {
    font-family: 'Press Start 2P', cursive;
    font-weight: 900;
    font-size: 30px;
    color: black;
}
