body {
    background-color: grey;
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: RoyalBlue;
}

#wrapper {
    width: 100%;
    min-width: auto;
    max-width: 100%;
    margin: 10px;
    padding: 5 5 5 5;
}


h1 {
  font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: RoyalBlue;
}

p {
  font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: RoyalBlue;
}

a {

    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: RoyalBlue;
}

ol li {
    position: relative;
    margin: 5px;
    padding: 10px 10px 10px;
    cursor: copy;
}

ol li a {
    display: block;
    padding: 10px 10px 10px 10px;
}

li.playing {

    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: RoyalBlue;
    text-decoration: underline;
    text-decoration: blink;
}

li.playing a {
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: RoyalBlue;
    text-decoration: underline;
    text-decoration: blink;
}
