body {
    background-color: silver;
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: green;
}

#wrapper {
    width: 100%;
    min-width: auto;
    max-width: 100%;
    margin: 10px;
    padding: 5 5 5 5;
}

#hr,
hr {
    border: none;
    background-color: black;
    color: violet;
    height: 1px;
   }


h1 {
  font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: green;
}

p {
  font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: green;
}

a {

    text-decoration: underline;
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: green;
}

ol li {
    position: relative;
    margin: 5px;
    padding: 5px 5px 5px;
    cursor: pointer;
}

ol li a {
    display: block;
    padding: 5px 5px 5px 5px;
}

li.playing {

    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: white;
}

li.playing a {
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 30px;
    color: white;
}
