body {
    background-color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 400;
    color: black;
    line-height: 1.6em;
}

#wrapper {

    width: 100%;
    min-width: 100px;
    max-width: 853px;
    margin: 0px auto;
    padding: 10 10 10 10;
    opacity: 1;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: black;
}

ol li {
    margin: 2px 2px 2px 2px
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    list-style-type: none;

}

ol li a {
    display: block;
    padding: 5px 5px 5px 5px;
    list-style-type: none;

}

li.playing {
    color: green;
    list-style-type: none;
    text-decoration: underline;

}

li.playing a {
    color: green;
    list-style-type: none;
    text-decoration: underline;
}

img {
    width: 100%;
    height: auto;
}
