body {
    background: #fefefa
}

#wrapper {
    width: 100%;
    min-width: 100px;
    max-width: 700px;
    margin: 0px auto;
    padding: 1 1 1 1;
    opacity: 0.9;

}

.message

{
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    font-weight: 600;
    line-height: 1.1em;
    color: black;
    padding: 20px;
    border-style: stroke;
    border-color: black;
    border-width: 10px;
}
