
.img-sphere {
	cursor:pointer;
	position: absolute;
	left: 400px;
	top: 100px;
	z-index:-1
}

.img-line {
	cursor:pointer;
	position: absolute;
	left: 300px;
	top: 110px;
	z-index:-1;
}

.img-triangle {
	cursor:pointer;
	position: absolute;
	left: 200px;
	top: 120px;
	z-index:-1
}

.img-saturn {
	cursor:pointer;
	position: absolute;
	left: 100px;
	top: 130px;
	z-index:-1
}
